<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael Baggio</a>
        <a href="?locale=en">English <%= image_tag "flag-us", class: 'flag-icon' %></a>
    </div>
    <div class="navbar-right">
        <a href="#projects-anchor">Projetos</a>
        <a href="#about-anchor">Sobre mim</a>
        <a href="#resume-anchor">Curriculum</a>
        <a href="#contact-anchor">Contato</a>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h1>Rafael Baggio</h1>
        <p>Desenvolvedor web full-stack</p>
        <div class="stack-icons">
            <div class="73px">
                <%= image_tag "html-5.svg" %>
            </div>
            <div class="73px">
                <%= image_tag "css-3.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "javascript.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "git-icon.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "ruby.svg" %>
            </div>
            <div class="273px">
                <%= image_tag "rails.svg" %>
            </div>
            <div class="75px">
                <%= image_tag "heroku-icon.svg" %>
            </div>
        </div>
    </div>

    
    <div id="projects-anchor" class="projects">
        <h1>Projetos</h1>
        <div class="projects-grid">
            <div class="project-item">
                <h1>CLI Chess</h1>
                <p>Um jogo de xadrez escrito em Ruby para ser jogado em uma interface de linha de comando por dois jogadores locais. Ele aplica todas as regras esperadas do xadrez e permite que partidas sejam salvas e depois continuadas.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/chess">Código</a>
                    <a href="https://replit.com/@rafaelmoreton/chess#">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-chess.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Flight Booker</h1>
                <p>O aplicativo permite que os usuários selecionem datas e aeroportos, apresenta-lhes uma lista de vôos correspondentes, permite-lhes selecionar o vôo desejado e inserir as informações de cada passageiro.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/flight-booker">Código</a>
                    <a href="https://flight-booker-194519.herokuapp.com/">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-flight.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Private Events</h1>
                <p>Esse site permite aos usuários criar e administrar eventos. Qualquer um pode ver quais eventos estão disponíveis, mas apenas usuários logados podem confirmar presença neles e criar novos.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/private-events">Código</a>
                    <a href="https://private-events-191919.herokuapp.com/">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-events.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Etch-a-Sketch</h1>
                <p>Uma ferramenta de desenho em píxeis no navegador. É inteiramente front-end: JavaScript usado para manipular elementos do DOM da página e propriedades CSS de conforme o mouse interage com event listeners.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/etch-a-sketch">Código</a>
                    <a href="https://rafaelmoreton.github.io/etch-a-sketch/">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-sketch.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Connect Four</h1>
                <p>Um jogo de 'Conecte Quatro' para a linha de comando. Ele foi inteiramente deselvolvido com uma abordagem TDD usando a gem Rspec. O aplicativo aplica as regras e reconhece as condições de fim de jogo.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/connect-four">Código</a>
                    <a href="https://replit.com/@rafaelmoreton/connect-four#">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-connect.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Admin Dashboard</h1>
                <p>Essa página é principalmente um treino de CSS grid. Eu clonei de olho esse design de painel de controle amplamente disseminado. É uma página estática única - o aprendizado de layout em grid e responsividade foram o ponto principal desse projeto.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/admin-dashboard">Código</a>
                    <a href="https://rafaelmoreton.github.io/admin-dashboard/">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-admin.png" %>
                </div>
            </div>
            <div class="project-item">
                <h1>Calculator</h1>
                <p>Uma calculadora de navegador em JavaScript. Ela suporta as quatro operações aritméticas básicas (adição, subtração, multiplicação e divisão) e pode ser usada com tanto um mouse quanto um teclado.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/calculator">Código</a>
                    <a href="https://rafaelmoreton.github.io/calculator/">Demonstração</a>
                </div>
                <div class="project-demo-image">
                    <%= image_tag "demo-calculator.png" %>
                </div>
            </div>
        </div>
    </div>

    
    <div id="about-anchor" class="about">
        <h1>Sobre mim</h1>
        <div class="about-container">
            <div>
                <p>Olá, eu sou Rafael Baggio. Sempre fui um entusiasta da tecnologia e recentemente descobri nela minha vocação. No início da pandemia, com trabalhos e aulas suspensos, decidi ocupar meu tempo aprendendo a programar, a princípio como hobby - um interesse antigo ao qual até então não havia dedicado muito tempo. Foi então que me dei conta do quanto isso era capaz de me estimular. Redescobri a satisfação de ficar inventando formas de abordar um problema lógico complexo até conseguir resolvê-lo. Decidi fazer disso uma carreira quando me dei conta de que desenvolvendo páginas e aplicativos para a web eu posso combinar minhas melhores competências numa atividade bastante motivadora.</p>
                <p>Quando fui técnico mecânico, desenvolvi um olhar analítico e metodológico para desvendar a origem de falhas mecânicas; por outro lado, me senti repelido pela perspectiva de danos permanentes a saúde em virtude da insalubridade do trabalho fabril. Como ator, descobri que criar coletivamente é revigorante para mim. Aprendi a trabalhar com a variedade de ideias que naturalmente nascem de grupos para promover colaboração criativa. Finalmente, trabalhando como técnico em iluminação, pude começar a unir minhas aptidões criativas e lógicas: conceber desenhos de luz e transformá-los em realidade aplicando conhecimento técnico.</p>
                <p>Logo no começo de minha jornada autodidata tive a sorte de encontrar o Odin Project, um programa de estudos open-source criado por desenvolvedores para ensinar tudo o que é necessário para se tornar um desenvolvedor full-stack. Os projetos propostos especificam os requisitos e dão algumas breves instruções, muito diferente de tutoriais passo-a-passo, porque os estudantes são solicitados a encontrar as próprias soluções. Foi assim que eu ganhei a confiança e o mindset para resolver qualquer problema que possa surgir no desenvolvimento - encontrando formas de dividi-lo em partes menores, buscando soluções para problemas similares e estudando a documentação de cada tecnologia usada.</p>
                <p>Após tantas horas travado em problemas e encontrando a saída; cometendo centenas de erros a partir dos quais aprendi algo a mais, sinto que estou pronto para ser desafiado por problemas maiores. Acredito que todo tipo de atividade pode encontrar novas soluções através da tecnologia e que a melhor forma de continuar me aprimorando é contribuindo nisso.</p>
            </div>
            <img src="" alt="Imagem perfil">
        </div>
    </div>

    
    <div id="resume-anchor" class="resume-container">
        <h1>Curriculum</h1>
        <div class="resume-grid">
            <div class="resume-summary-container">
                <h2>Resumo</h2>
                <p>Desenvolvedor web full-stack autodidata entrando no ofício profissionalmente. Experiências passadas baseadas no trabalho em equipe e resolução de problemas nos campos técnicos e artísticos.</p>
            </div>
            <div class="resume-skills-container">
                <h2>Habilidades</h2>
                <ul>
                    <li>HTML5, CSS3</li>
                    <li>JavaScript</li>
                    <li>Ruby / Rspec, Rails</li>
                    <li>SQL</li>
                    <li>Git / Github</li>
                    <li>Heroku</li>
                    <li>TDD</li>
                    <li>OOP</li>
                    <li>Inglês</li>
                </ul>
            </div>
            <div class="resume-education-container">
                <h2>Educação</h2>
                <h3>Universidade de São Paulo</h3>
                <p class="subheader">Bacharel em Artes Cênicas</p>
                <p class="education-infos">2013-2020, completados 262 creditos</p>
                <h3>SP Escola de Teatro</h3>
                <p class="subheader">Técnico em Iluminação</p>
                <p class="education-infos">2017</p>
                <h3>Instituto Federal de São Paulo</h3>
                <p class="subheader">Técnico em Mecânica</p>
                <p class="education-infos">2012</p>
            </div>
            <div class="resume-experience-container">
                <h2>Experiência</h2>
                <h3>Técnico de Iluminação</h3>
                <p class="subheader">Vendedor de Sonhos - Setembro 2018 - Janeiro 2020</p>
                <ul>
                    <li>Fui técnico do espetáculo teatral "O Vendedor de Sonhos" em turnês por diversos estados do Brasil.</li>
                    <li>Durante a turnê era responsável por coordenar a montagem de luz e cenário com os técnicos dos teatros e, durante o espetáculo, operava os controles de luz e som.</li>
                    <li>Nos meses anteriores à turnê entrava em contato com os teatros onde aconteceriam apresentações para conhecer o espaço, tamanho da equipe, tempo e equipamentos disponíveis e adaptava o design de luz de acordo.</li>
                    <li>Li a documentação de diversas mesas de controle de luz que encontraria e aprendi a configurá-las a operá-las.</li>
                </ul>
                <h3>Ator</h3>
                <p class="subheader">Voar, um Musiclown - Março 2014 - Agosto 2016</p>
                <ul>
                    <li>Inicialmente, um grupo de estudos formado por alunos do curso de Artes Cênicas interessados em estudar a linguagem do clown justaposta à do musical. O grupo se consolidou com a peça autoral "Voar, um Musiclown".</li>
                    <li>Criava cenas colaborativamente com outros dez atores, desenvolvendo as ideias propostas por eles e propondo as minhas próprias.</li>
                </ul>
                <h3>Técnico Mecânico</h3>
                <p class="subheader">Pirelli - Janeiro 2012 - Julho 2012</p>
                <ul>
                    <li>Fazia parte da equipe de manutenção com outros quatro técnicos. Éramos responsáveis por garantir o bom funcionamento do maquinário de construção de pneus.</li>
                    <li>Tínhamos reuniões semanais com a gerência do departamento operacional para organizar o trabalho usando a metodologia Kanban. Reportávamos os resultados, propúnhamos soluções para novos problemas encontrados e definíamos as próximas tarefas.</li>
                    <li>Investigava máquinas que estavam produzindo peças fora do padrão de qualidade para determinar a causa e realizava os ajustes de correção.</li>
                    <li>Eu fazia a inspeção, limpeza e lubrificação de mancais; trocava as câmaras de ar danificadas e controlava parte do estoque de materiais usados por minha equipe.</li>
                </ul>
            </div>
        </div>
    </div>

    
    <div id="contact-anchor" class="contact-container">
        <h1>Contato</h1>
        <div class="contact-grid">
            <div class="contact-item first-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                <p>rafaelmoreton@gmail.com</p>
            </div>
            <div class="contact-item first-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                <p>São Paulo, Brasil</p>
            </div>
            <a class="contact-item second-column first-row" href="mailto:rafaelmoreton@gmail.com">
                <p>Email</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </a>
            <a class="contact-item second-column" href="https://github.com/rafaelmoreton">
                <p>Github</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            </a>
            <a class="contact-item second-column" href="https://linkedin.com/in/rafael-moreton-baggio-3709b1217">
                <p>LinkedIn</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </a>
        </div>
    </div>
</div>
