<div class="navbar">
    <div class="navbar-left">
        <a href="">Rafael Moreton</a>
        <a href="?locale=pt">Português <%= image_tag "flag-br.svg", class: 'flag-icon' %></a>
    </div>
    <div class="navbar-right">
        <a href="#projects-anchor">Projects</a>
        <a href="#about-anchor">About me</a>
        <a href="#resume-anchor">Résumé</a>
        <a href="#contact-anchor">Contact</a>
    </div>
</div>

<div class="content">
    <div class="intro">
        <h1>Rafael Moreton</h1>
        <p>Full-stack web developer</p>
        <div class="stack-icons">
            <div class="73px">
                <%= image_tag "html-5.svg" %>
            </div>
            <div class="73px">
                <%= image_tag "css-3.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "javascript.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "git-icon.svg" %>
            </div>
            <div class="83px">
                <%= image_tag "ruby.svg" %>
            </div>
            <div class="273px">
                <%= image_tag "rails.svg" %>
            </div>
            <div class="75px">
                <%= image_tag "heroku-icon.svg" %>
            </div>
        </div>
    </div>

    
    <div id="projects-anchor" class="projects">
        <h1>Projects</h1>
        <div class="projects-grid">
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/chess">
                    <h1>CLI Chess</h1>
                </a>
                <p>This is a chess game written fully in Ruby to be played in the command-line interface by two local players. It enforces all the expected rules of chess and allows games to be saved and resumed later.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/chess">Source Code</a>
                    <a href="https://replit.com/@rafaelmoreton/chess#">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://replit.com/@rafaelmoreton/chess#">
                        <%= image_tag "demo-chess.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/flight-booker">
                    <h1>Flight Booker</h1>
                </a>
                <p>The app allows users to select desired dates and airports, presents them a list of corresponding available flights, allows them to select the desired flight and enter passenger informations for all passengers.
                </p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/flight-booker">Source Code</a>
                    <a href="https://flight-booker-194519.herokuapp.com/">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://flight-booker-194519.herokuapp.com/">
                        <%= image_tag "demo-flight.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/private-events">
                    <h1>Private Events</h1>
                </a>
                <p>This site allows users to create and manage events. Anyone can see available events, but only signed in users may confirm attendance to them and create new ones.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/private-events">Source Code</a>
                    <a href="https://private-events-191919.herokuapp.com/">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://private-events-191919.herokuapp.com/">
                        <%= image_tag "demo-events.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/etch-a-sketch">
                    <h1>Etch-a-Sketch</h1>
                </a>
                <p>A browser pixel drawing tool. It is entirely front-end: JavaScript used to manipulate the page's DOM elements and CSS properties accordingly to mouse input event listeners.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/etch-a-sketch">Source Code</a>
                    <a href="https://rafaelmoreton.github.io/etch-a-sketch/">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://rafaelmoreton.github.io/etch-a-sketch/">
                        <%= image_tag "demo-sketch.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/connect-four">
                    <h1>Connect Four</h1>
                </a>
                <p>A Connect Four game to be played between two local players in the command line. It was entirely developed with a TDD approach using the Rspec gem. The app enforces the game rules and recognizes the end of match conditions.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/connect-four">Source Code</a>
                    <a href="https://replit.com/@rafaelmoreton/connect-four#">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://replit.com/@rafaelmoreton/connect-four#">
                        <%= image_tag "demo-connect.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/admin-dashboard">
                    <h1>Admin Dashboard</h1>
                </a>
                <p>This page is mainly a CSS grid practice. I cloned this widespread dashboard design by eye. It's a single static page - the grid layout and responsiveness learning were the main point of this project.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/admin-dashboard">Source Code</a>
                    <a href="https://rafaelmoreton.github.io/admin-dashboard/">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://rafaelmoreton.github.io/admin-dashboard/">
                        <%= image_tag "demo-admin.png" %>
                    </a>
                </div>
            </div>
            <div class="project-item">
                <a href="https://github.com/rafaelmoreton/calculator">
                    <h1>Calculator</h1>
                </a>
                <p>A JavaScript browser calculator. It supports the four basic arithmetic operations (add, subtract, multiply and divide) and can be used with a either a mouse or a keyboard.</p>
                <div class="project-links">
                    <a href="https://github.com/rafaelmoreton/calculator">Source Code</a>
                    <a href="https://rafaelmoreton.github.io/calculator/">Live Preview</a>
                </div>
                <div class="project-demo-image">
                    <a href="https://rafaelmoreton.github.io/calculator/">
                        <%= image_tag "demo-calculator.png" %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    
    <div id="about-anchor" class="about">
        <h1>About me</h1>
        <div class="about-container">
            <div>
                <p>Hello, I'm Rafael Moreton. I've always been a technology enthusiast and recently found out my vocation in it. At the beginning of the pandemic, with jobs and classes paralysed, I decided to spend my time learning how to code, at first as a hobby - an old interest of mine which, until then, I hadn't dedicated much time to. That was when I realized how much this was capable of stimulating me. I discovered once more the satisfaction of inventing ways to approach a complex logical problem until I manage to solve it. I decided to make a career out of it when I realized that by developing pages and applications for the web I could combine my best abilities into a very fulfilling trade.</p>
                <p>When I was a mechanical technician, I developed an analytical and methodological eye for finding out the origin of mechanical failures; on the other hand, I felt repelled by the likelihood of permanent health damages caused by the insalubrity of factory work. As an actor, I discovered that creating collectively is invigorating for me. I learned to work with the variety of ideas that are naturally born from groups for furthering creative collaboration. Finally, working as a lighting technician, I could begin to put together my creative and logical knacks: to conceive lighting designs and make them into reality by applying technical knowledge.</p>
                <p>At the beginning of my self-learning journey I luckily found “The Odin Project”, an open-source curriculum created by developers to teach everything needed to become a full-stack developer. The assigned projects specify the requirements and give some brief instructions, very different from hand-holding tutorials, because the students are asked to find out their own solutions. That's how I earned the confidence and mindset to solve any problem that might arise during development - by finding ways for breaking it into smaller parts, looking for solutions to similar problems and studying the documentation of the tech-stack.</p>
                <p>After many hours stuck at problems and finding a way out; making hundreds of mistakes from which I learned something more, I feel that I'm ready to be challenged by bigger problems. I believe that every industry can find new solutions through technology and that the best way for me to keep improving is by contributing to this.</p>
            </div>
            <%# <img src="" alt="Profile pic"> %>
        </div>
    </div>

    
    <div id="resume-anchor" class="resume-container">
        <h1>Résumé</h1>
        <div class="resume-grid">
            <div class="resume-summary-container">
                <h2>Summary</h2>
                <p>Self-taught full-stack web developer entering the industry. Past experiences based on teamwork and problem-solving in technical and artistic fields.</p>
            </div>
            <div class="resume-skills-container">
                <h2>Skills</h2>
                <ul>
                    <li>HTML5, CSS3</li>
                    <li>JavaScript</li>
                    <li>Ruby / Rspec, Rails</li>
                    <li>SQL</li>
                    <li>Git / Github</li>
                    <li>Heroku</li>
                    <li>TDD</li>
                    <li>OOP</li>
                    <li>Portuguese</li>
                </ul>
            </div>
            <div class="resume-education-container">
                <h2>Education</h2>
                <h3>University of São Paulo</h3>
                <p class="subheader">Performing Arts Bachelor's Degree</p>
                <p class="education-infos">2013-2020, completed 262 credits</p>
                <h3>SP Drama School</h3>
                <p class="subheader">Lighting Design Certificate</p>
                <p class="education-infos">2017</p>
                <h3>São Paulo Federal Institute</h3>
                <p class="subheader">Industrial Mechanics Certificate</p>
                <p class="education-infos">2012</p>
            </div>
            <div class="resume-experience-container">
                <h2>Experience</h2>
                <h3>Lighting Technician</h3>
                <p class="subheader">Vendedor de Sonhos - September 2018 - January 2020</p>
                <ul>
                    <li>I was a technician of the play “The Dreamseller”, on tour through several states of Brazil.</li>
                    <li>During the tour I was responsible for coordinating the lighting and scenery rigging with the theater's technicians and, during the show, operating the lighting and sound controllers.</li>
                    <li>In the months prior to the tour I got in touch with the theaters where the play would happen in order to learn about the available space, crew size, time and lighting fixtures available and adapted the light design accordingly.</li>
                    <li>I read the documentation of several lighting controllers and taught myself how to set up and operate them.</li>
                </ul>
                <h3>Performer</h3>
                <p class="subheader">Voar, um Musiclown - March 2014 - August 2016</p>
                <ul>
                    <li>Initially, a study group composed of undergraduate students of Performing Arts interested in studying the clown language juxtaposed with that of musical theater. The group consolidated itself with the authoral play “Voar, um Musiclown”.</li>
                    <li>I created scenes collaboratively with ten other actors, developing the ideas proposed by them and also proposing mine.</li>
                </ul>
                <h3>Mechanical Technician</h3>
                <p class="subheader">Pirelli - January 2012 - July 2012</p>
                <ul>
                    <li>I was part of the maintenance team with four other technicians. We were responsible for granting the proper functioning of the tire-building machinery.</li>
                    <li>We had weekly meetings with the operational department management to organize the work using the Kanban methodology. We reported results, offered solutions to newly found issues and defined the next assignments.</li>
                    <li>I used to investigate machines that were producing items out of quality standard to determine the cause of it and then made the adjustment on them.</li>
                    <li>I used to inspect, clean and lubricate bearings, change damaged air-chambers and control the inventory of materials used by my team.</li>
                </ul>
            </div>
        </div>
    </div>

    
    <div id="contact-anchor" class="contact-container">
        <h1>Contact</h1>
        <div class="contact-grid">
            <div class="contact-item first-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                <p>rafaelmoreton@gmail.com</p>
            </div>
            <div class="contact-item first-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                <p>São Paulo, Brazil</p>
            </div>
            <a class="contact-item second-column first-row" href="mailto:rafaelmoreton@gmail.com">
                <p>Email</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </a>
            <a class="contact-item second-column" href="https://github.com/rafaelmoreton">
                <p>Github</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            </a>
            <a class="contact-item second-column" href="https://linkedin.com/in/rafael-moreton-baggio-3709b1217">
                <p>LinkedIn</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </a>
        </div>
    </div>
</div>
